.close-overflow {
    overflow: hidden;
}

.colorNavBar {
    background-color: #0897B4;
}

.textOnMainPanel {
    color: white !important;
    font-size: 40px;
    padding: 0px 20px 0px 20px;
}

.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}

.gap250px {
    gap: 250px;
}

.profile-btn {
    background-color: transparent;
    border-color: transparent;
    font-family: Jost;
}

.mainTaskBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
    max-width: 1600px;
    margin: 0 auto 0 auto;
    padding: 32px 16px;
    box-sizing: border-box;
    height: auto;
}

.taskBlock {
    background-color: #4CABA6;
    border-radius: 20px;
    min-height: 320px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
}

.taskBlockHeader {
    background-color: #4C4A59;
    border-radius: 20px;
    text-align: center;
    font-size: 40px;
    font-family: Jost;
    color: white;
    user-select: none;
}

.btn-Add-Task {
    background-color: #0897B4;
    text-align: center;
    max-width: 500px;
    padding: 15px 60px;
    font-family: Jost;
    font-size: 30px;
    color: white;
    border-radius: 20px;
    user-select: none;
}

.headerBlock {
    margin: 76px auto 0 auto;
    text-align: center;
    font-family: Jost;
    font-size: 60px;
    color: white;
    background-color: #4C4A59;
    user-select: none;
}

.mainCalendarBlock {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.calendarBlock {
    background-color: #1B7F7A;
    min-width: 500px;
    min-height: 300px;
    border-radius: 20px;
}

.calendar {
    background-color: #4CABA6;
    border-radius: 20px;
    min-width: 500px;
    min-height: 150px;
}

.mainNotesBlock {
    display: flex;
    justify-content: center;
}

.notesBlock {
    background-color: #1B7F7A;
    width: 800px;
    height: 400px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 20px;
}

.btn-Add-Note {
    background-color: #0897B4;
    text-align: center;
    max-width: 500px;
    padding: 15px 60px;
    font-family: Jost;
    font-size: 30px;
    color: white;
    border-radius: 20px;
    user-select: none;
    margin-top: 20px;
    margin-bottom: 30px;
}

.modal-window {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-profile {
    background-color: #F2CDAC;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #4C4A59;
    width: 40%;
    max-width: 700px;
    height: 20%;
    max-height: 350px;
}

.modal-authorization-and-registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4CABA6;
    margin: 15% auto;
    padding: 20px;
    width: 40%;
    max-width: 800px;
    border-radius: 10px;
    position: relative;
}

.div-with-data {
    background-color: white;
    border-radius: 10px;
    width: auto;
    height: auto;
}

.main-input-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    width: 100%;
}

.input-box {
    background-color: white;
    border-radius: 5px;
    flex-grow: 1;
}

.input-box input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 25px;
    font-family: Jost;
}

.text-label {
    font-family: Jost;
    color: white;
    font-size: 25px;
    width: 100px;
    text-align: right;
}

.btn-register {
    border: none;
    border-radius: 15px;
    background-color: white;
    margin-top: 15px;
    padding: 10px;
    font-family: Jost;
    font-size: 18px;
}

.btn-Login-Back {
    border: none;
    font-family: Jost;
    background-color: transparent;
    margin-top: 10px;
    color: white;
    font-size: 30px;
}

















@media (max-width: 1600px) {
    .gap250px {
        gap: 100px;
    }

    .textOnMainPanel {
        font-size: 30px;
    }
}

@media (max-width: 1000px) {
    .gap250px {
        gap: 10px;
    }

    .textOnMainPanel {
        font-size: 25px;
    }

    .mainTaskBlock {
        margin: 60px auto 0 auto;
    }

    .taskBlockHeader {
        font-size: 30px;
    }

    .btn-Add-Task {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .gap250px {
        gap: 5px;
    }

    .textOnMainPanel {
        font-size: 14px;
    }

    .mainTaskBlock {
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        gap: 10;
        margin: 40px auto 0 auto;
        padding: 16px 8px;
    }

    .taskBlockHeader {
        font-size: 18px;
    }
}